body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    height: 768px; /* Altura de la ventana */
    width: 1366px; /* Ancho de la ventana */
    background-color: skyblue;
}

header, footer {
    background-color: blue;
    padding: 20px;
    text-align: center;
    width: 100vw; /* Usar 100% para ocupar el ancho completo */
    height: auto; /* Ajusta la altura automáticamente */
    color: white;
    box-sizing: border-box;
    border: 5px solid black; /* Naranja */
}

main {
    display: flex;
    flex-direction: column; /* Cambia a columna para que las secciones estén una debajo de la otra */
    align-items: center; /* Centra los elementos horizontalmente */
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}

.top-section {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio del contenedor */
    width: 100vw;
    margin-bottom: 20px; /* Espacio entre la sección superior y la sección de experiencia laboral */
    box-sizing: border-box;
}

.contenedor-imagen {
    width: 300px;
    height: 277.5px;
    overflow: hidden;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
    border: 10px solid #E67E22;
    border-radius: 20px;
}

img {
    width: 100%;
    height: 100%; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Mantiene la proporción de la imagen dentro del contenedor */

}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw; /* Ajusta el ancho restando el espacio ocupado por la imagen y el margen */
    box-sizing: border-box;
    padding: 10px;
}

.data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 10px;
}

.dp, .datos {
    background-color: lightgray;
    margin-top: 5px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    border: 5px solid black;
    border-radius: 20px;
}

.experiencia-laboral, .educacion-formacion, .capacidades-y-aptitudes-personales {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 10px;
}

.art-exp, .art-exp-datos, .ed-for, .ed-for-datos{
    background-color: lightgray;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 20px;
}

.ca-ap-pe {
    background-color: lightslategrey;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 20px;
}

.lengua-materna, .otros-idiomas, .capacidades-y-aptitudes-tecnica, .permiso-de-conduccion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 10px;
}

.le-ma, .le-ma-datos, .ot-id, .ot-id-datos, .cap-ap-te, .cap-ap-te-datos,
.pe-co, .pe-co-datos{
    background-color: lightgray;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 20px;
}