body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; 
    font-family: 'Fredoka One', sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: #2c3e50; 
    color: white;
    padding: 20px;
    text-align: center;
    border: 5px solid #34495e; 
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

header h1, header p {
    margin: 0;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
}

.formulario {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background: #ffffff; 
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    margin: 0 20px 20px 20px;
    box-sizing: border-box;
}

.formulario h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #2c3e50; 
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.formulario label {
    font-size: 18px;
    color: #2c3e50; 
    margin-bottom: 10px;
    display: block;
}

.formulario input[type="date"],
.formulario textarea,
.formulario input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #2c3e50; 
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#map {
    height: 590px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    margin: 0 20px 20px 20px;
    box-sizing: border-box;
}

.input {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    padding: 12px;
    font-size: 18px;
    width: 300px;
    background: #ffffff; 
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 12px;
    background: #27ae60; 
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.button:hover {
    background: #2ecc71; 
}

#mensajeRegistro {
    width: 100%;
    padding: 12px;
    background: #27ae60; 
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

#mensajeRegistro:hover {
    background: #2ecc71; 
}
